name: web_vuw
description: A plugin that can embedded (web view) with flutter widgets tree, support from native web views
version: 0.2.4
author: Muhammad Fatani <DevFatani@outlook.com>
homepage: https://github.com/DevFatani/Web_Vuw

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_test:
    sdk: flutter

flutter:
  plugin:
    androidPackage: com.devfatani.webvuw
    pluginClass: WebVuwPlugin